#page_profile{
  overflow: hidden;
  background-color: var(--color-background);
  padding-bottom: 54px;
}
#page_profile #top_content {
  display: flex;
  justify-content: center;
 /*  align-items: center; */
  width: 100vw;
  height: 40rem;
  background-color: var(--color-primary);
}

#page_profile #top_content img:first-child {
  width: 100rem;
}

#page_profile #top_content .avatar {
  position: absolute;
  text-align: center;
  margin-top: 52px;
  width: 192px;
  height: 270px;
}

#page_profile #top_content .avatar img+p{
  font: 700 3.6rem Archivo;
  color: var(--color-button-text)
}

#page_profile #top_content .avatar input[type='file'] {
  display: none
}

#page_profile #top_content .avatar .cameraIcon {
  width: 4.8rem;
  height: 4.8rem;
  margin-left: 92px;
  margin-top: -48px;
  cursor: pointer;
}

#page_profile #top_content .avatar .cameraIcon:hover{
 /*  border: 1px solid var(--color-secondary-dark); */
 width: 4.9rem;
 height: 4.9rem;
}

#page_profile #top_content .avatar p+p {
  font: 400 2.4rem Poppins;
  color: var(-color-text-in-primary)
}

#page_profile #top_content .avatar img {
  border-radius: 50%;
  width: 18rem;
  height: 18rem;
}

#page_profile #top_content .avatar #avatarArea {
  border-radius: 50%;
  width: 18rem;
  height: 18rem;
  background: #ccc;
}

#page_profile #main_content {
  background: var(--color-button-text);
    width: 100%;
    /* height: 100vh; */
    max-width: 74rem;
    border-radius: 0.8rem;
    margin: -3.2rem auto 0 auto;
    padding: 5.0rem 5.0rem 0 5.0rem;
    overflow: hidden;
    position: relative;
}


#page_profile #main_content span {
  display: flex;
  height: 100px;
}

#page_profile #main_content main fieldset {
  border: 0;
  padding: 0 2.4rem;
}

#page_profile #main_content  main fieldset + fieldset {
  margin-top: 6.4rem;
}

#page_profile #main_content  main fieldset legend {
  font: 700 2.4rem Archivo;
  color: var(--color-text-title);
  margin-bottom: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 1.6rem;
  border-bottom: 1px solid var(--color-line-in-white);
}

#page_profile #main_content .inputEmail {
  width: 384px;
}

#page_profile #main_content .aboutBlock {
  display: flex;
}

#page_profile #main_content .aboutBlock select {
  width: 384px;
}

#page_profile #main_content .aboutBlock .input-block label {
  margin-left: 1.8rem;
}

#page_profile #main_content .aboutBlock Input {
  margin-left: 1.8rem;
  width: 92%;
}

#page_profile #main_content .hoursLabel span {
  display: inline;
}

#page_profile #main_content .hoursLabel legend {
  display: inline;
}

#page_profile #main_content .hoursLabel legend span {
  font: 600 1.6rem Archivo;
  color: var( --color-primary);
  margin-left: 225px;
  border: 1px solid var(--color-button-text);
  border-radius: 7%;
  padding: 5px;
  cursor: pointer;
}

#page_profile #main_content .hoursLabel legend span:hover {
  border: 1px solid;
}

#page_profile #main_content .hoursLabel .btnExclude {
  font: 600 1.4rem Archivo;
  color: var(--color-text-delete);
  margin-top: -9px;
  background: var(--color-button-text);
  width: 103px;
  height: 21px;
  text-align: center;
  margin-left: 267px;
  border: none;
  position: absolute;
  cursor: pointer;
  padding: 2px;
}

#page_profile #main_content .hoursLabel .btnExclude:hover {
  border: 1px solid var(--color-text-delete);
  border-radius: 7%;

  
}

#page_profile #main_content .hoursLabel .btnExclude + span {
  margin-top: 24px;
}

#page_profile #main_content .hoursLabel .hoursBlock {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-line-in-white);
  height: 116px;
}

#page_profile #main_content .hoursLabel .hoursBlock .input-block label {
  margin-left: 1.8rem;
}

#page_profile #main_content .hoursLabel .hoursBlock .input-block input {
  margin-left: 1.8rem;
  width: 91%;
}

#page_profile #footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12rem;
  padding: 0 21px;
}

#page_profile #footer #attectionBlock {
  display: flex;
}

#page_profile #footer p {
  height: 4.2rem;
  margin-left: 0.8rem;
  color: var( --color-primary);
  font: 400 1.2rem Poppins;
}

#page_profile #footer span {
  height: 0;
}

#page_profile #footer button {
  background: var(--color-secondary);
  width: 19.7rem;
  height: 5.6rem;
  border-radius: 0.8rem;
  font: 600 1.6rem Archivo;
  color: var(--color-button-text);
  border: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background-color 0.2s;
}

#page_profile #footer button:hover{
  background: var(--color-secondary-dark);
}