:root {
    --color-primary: #8257e5;
    --color-background: #F0F0F7;
    --color-text-title: #32264D;
    --color-line-in-white: #E6E6F0;
    --color-input-background: #F8F8FC;
    --color-text-complement: #9C98A6;
    --color-button-background: #DCDCE5;
    --color-button-text: #FFFFFF;
    --color-button-p: #D4C2FF;
    --color-text-base: #6A6180;
    --color-secondary: #04D361;
    --color-secondary-dark: #04BF58;
    font-size: 60%;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100vh; 
}

body,
input,
button,
textarea {
    font: 500 1.6rem Poppins;
    color: var(--color-text-base);
}

.container {
    width: 90vw;
    max-width: 700px;
}

@media (min-width: 700px){
    :root {
        font-size: 62.5%;
    }
}